.button-google {
	width: 100vw;
	height: 100px;

	display: flex;
	justify-content: center;
}
.button-apple {
	width: 100vw;
	height: 100px;

	display: flex;
	justify-content: center;
}
.button-google > .button-box {
	background-color: brown;
}
.button-apple > .button-box {
	background-color: black;
}
.button-box {
	font-weight: bold;
	font-weight: bold;
	color: white;
	font-size: 16px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	width: 20%;
	height: 52%;
}
.text-box {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100px;
}
p {
	padding-top: 20px;
	padding-left: 8px;
}
.or-box {
	margin-top: 30px;
	margin-left: 5px;
	width: 200px;
	height: 2px;
	background-color: rgb(166, 173, 179);
}
.input-box {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 50px;
}
input {
	border-radius: 5px;
	width: 400px;
	height: 40px;
}
.Password-box {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	width: 100vw;
	height: 50px;
}
.Password-box > input {
	width: 400px;
}
.checkbox {
	padding-top: 9px;
	margin-left: 710px;
}
.checkbox > input {
	width: 15px;
	padding-left: 12px;
	height: 15px;
}
.sign-box {
	margin-left: 715px;
	width: 100vw;
	height: 60px;
}
.sign-box > button {
	border: none;
	border-radius: 5px;
	padding-left: 20px;
	width: 410px;
	height: 45px;
	color: white;
	background-color: black;
}
